<% if user_signed_in? %>
<%= link_to destroy_user_session_path, method: :delete do %>
<svg xmlns="http://www.w3.org/2000/svg" class="logout" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
    <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" />
    <path d="M7 12h14l-3 -3m0 6l3 -3" />
</svg>
<% end %>
<% end %>

<%= link_to new_event_path do %>
<svg xmlns="http://www.w3.org/2000/svg" class="new-event" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
    <circle cx="12" cy="12" r="9" />
    <line x1="9" y1="12" x2="15" y2="12" />
    <line x1="12" y1="9" x2="12" y2="15" />
</svg>
<% end %>

<h1> Created Events </h1>
<div class='event-holder'>
    <% @created_events.each do |event| %>
    <div class='event'>
        <h2> <%= event.info %> from <%= event.creator.email %> </h2>

        <% unless event.attendees.empty? %>
        <h3> Attending </h3>
        <% event.attendees.each do | attendee | %>
        <p> <%= attendee.email %> </p>
        <% end %>
        <% end %>

        <% unless event.invitees.empty? %>
        <h3> Invited</h3>
        <% event.invitees.each do | invitee | %>
        <p> <%= invitee.email %> </p>
        <% end %>
        <% end %>

        <%= link_to 'Show', event %>
        <%= link_to 'Edit', edit_event_path(event) %>
        <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
    <% end %>
</div>
<% if @created_events.empty? %>
<h2> Nothing over here </h2>
<% end %>

<h1> Events you are going to attend to </h1>
<div class='event-holder'>
    <% @attending_events.each do |event| %>
    <div class='event'>
        <h2> <%= event.info %> from <%= event.creator.email %> </h2>

        <% unless event.attendees.empty? %>
        <h3> Attending </h3>
        <% event.attendees.each do | attendee | %>
        <p> <%= attendee.email %> </p>
        <% end %>
        <% end %>

        <% unless event.invitees.empty? %>
        <h3> Invited</h3>
        <% event.invitees.each do | invitee | %>
        <p> <%= invitee.email %> </p>
        <% end %>
        <% end %>

        <%= link_to 'Show', event %>
        <% if current_user == event.creator %>
        <%= link_to 'Edit', edit_event_path(event) %>
        <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
    </div>
    <% end %>
</div>
<% if @attending_events.empty? %>
<h2> Nothing over here </h2>
<% end %>

<h1> Events you have been invited to </h1>
<div class='event-holder'>
    <% @invited_events.each do |event| %>
    <div class='event'>
        <h2> <%= event.info %> from <%= event.creator.email %> </h2>

        <% unless event.attendees.empty? %>
        <h3> Attending </h3>
        <% event.attendees.each do | attendee | %>
        <p> <%= attendee.email %> </p>
        <% end %>
        <% end %>

        <% unless event.invitees.empty? %>
        <h3> Invited</h3>
        <% event.invitees.each do | invitee | %>
        <p> <%= invitee.email %> </p>
        <% end %>
        <% end %>

        <%= link_to 'Attend', event %>
        <% if current_user == event.creator %>
        <%= link_to 'Edit', edit_event_path(event) %>
        <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
    </div>
    <% end %>
</div>
<% if @invited_events.empty? %>
<h2> Nothing over here </h2>
<% end %>